{% extends 'navbar.html' %}
{%block title_block %} iTube {%endblock%}
{% block css_block %}
<style>
    .col-sm-6{
        width: 425px;
        padding: 20px;
    }
</style>
{% endblock %}
{% block body_block %}

<h3>Welcome to iTube</h3>
{% if search %}
{% for blog in result %}
<p><a href="{% url 'stream_app:blog_details' slug=blog.slug %}">{{blog.blog_title}}{{blog.blog}}</a></p>
{% endfor %}
{% else %}
<div class="blog-list">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-sm-6">
            <a href="{% url 'stream_app:blog_details' slug=blog.slug %}"><img src="/media/{{blog.thumbnail}}" alt="" width="425"><br></a>
            <Strong>{{blog.blog_title}}</Strong> <br>
            <img src="/media/{{blog.user.profile.profile_picture}}" alt="" width="23px" height="23px" class="rounded-circle">{{blog.user.username}} <br>
            <small class="text-muted"><strong>Publish date: </strong>{{blog.publish_date}}</small><br>
            <small class="text-muted"><strong>Updated on: </strong>{{blog.update_date}}</small> <br>
            <b>{{blog.blog_comment.count}} Comments</b>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}