<HTML>
    <HEAD>
        <TITLE>FORMS</TITLE>
        <FORM METHOD="POST">
    </HEAD>
    <BODY>
        <BODY BGCOLOR="ORANGE">
        <P ALIGN="CENTRE"><B><I>PLEASE FILL IN THE FORM</I></B>
        <HR COLOR="YELLOW">
        <P>Name<INPUT TYPE="TEXT" SIZE="30">
        <P>Father's Name<INPUT TYPE="TEXT SIZE="30">
        <P>Reg.No<INPUT TYPE="TEXT" SIZE="20">
        <P>Degree<INPUT TYPE="RADIO" NAME="Degree" VALUE="B.sc.">B.sc.
        <INPUT TYPE="RADIO" NAME="Degree" VALUE="M.sc.">M.sc.
        <P>Password<INPUT TYPE="Password" SIZE=10>
        <P><INPUT TYPE="SUBMIT" VALUE="Submit">
        <P><INPUT TYPE="HYPERLINK" VALUE="Forgot Password" HYPERLINK TO="BANK.HTML">
        <HR COLOR="RED">
        </BODY>
    </FORM>
</HTML>
    